<!DOCTYPE html>
<html>
  <head>
    <title>SampleEcom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main_body">
      <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="A&K" src="..">
            </a>
          </div>
        </div>
      </nav>
      </header>
    <% unless session[:user_id].nil? %>
    <%= link_to "Logout" , logout_users_path, method: :delete %>
    <%end%>
      <% flash.each do |key,values| %>
      <%= values %>
      <%end%>
      <%= yield %>
    </body>
  </html>
